@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orb: #ffffff;
  --accent: #fed823;
  --accent-hover: #fed950;
  --primary: #15a1fc;
  --secondary: #ff7bed;
  --tertiary: #01feb6;
  --formal-accent: #efecd6;
  --formal-accent-dimmed: #efecd680;
  --light-grey: #8899a6;
  --half-grey: #505050;

  --error: #ff7b83;
  --error-dark: #3e1b1e;

  --primary-dark: #0d0030;
  --primary-light: #bff5fa;
  --primary-dimmed: #3a00d6;
  --primary-semi-dimmed: #4b61d5;
  --primary-background: #1a0259;
  --primary-dark-red: #210030;
  --secondary-dimmed: #cf6aff;

  --accent-light-transparent: #fed82369;
  --secondary-light-transparent: #ff7bed69;
  --accent-light-active-transparent: #fed8239e;
  --secondary-light-active-transparent: #ff7bed9e;
  --formal-accent-light-transparent: #efecd6cc;

  --accent-semi-transparent: rgba(254, 216, 35, 0.4);
  --primary-semi-transparent: rgba(21, 161, 252, 0.5);
  --secondary-semi-transparent: rgba(255, 123, 237, 0.5);
  --tertiary-semi-transparent: rgba(1, 254, 182, 0.4);
  --formal-accent-semi-transparent: rgba(239, 236, 214, 0.4);
  --error-semi-transparent: rgba(255, 123, 131, 0.2);
  --selection: #ff7bed35;
  --transparent: #00000000;

  --accent-transparent: #fed8231a;
  --secondary-transparent: #ff7bed1a;

  --bg-grid: conic-gradient(
    from 90deg at 0.06rem 0.06rem,
    var(--primary-dark) 90deg,
    var(--primary-background) 0
  );
}

html {
  background-color: var(--primary-dark);
  scrollbar-color: var(--accent) transparent;
  scrollbar-width: thin;
  background-size: 100% auto, 100% auto, 3rem 3rem;
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: top, top, 0;
  background-image: url(), url('/img/background.webp'), var(--bg-grid);
  caret-color: var(--primary);
}

body {
  overflow: overlay;
  scroll-behavior: smooth;
  margin: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'JetBrains Mono', monospace;
  color: var(--formal-accent);
}

@media screen and (max-width: 600px) {
  /* Grid for mobiles */
  html {
    background-color: var(--primary-dark);
    background-size: auto auto, 100% 30%, 2rem, 2rem;
    background-position: top, top, 0;
    background-image: url(), url('/img/background.webp'), var(--bg-grid);
  }
}

svg:not(.Toastify__toast-icon svg) {
  fill: none;
}
path:not(.walletconnect-qrcode__image path),
circle {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.loading-pause:hover {
  animation-play-state: paused;
}

.double-gradient-shadow {
  box-shadow: -20px -20px 74px var(--secondary-transparent),
    20px 20px 74px var(--accent-transparent);
}
